body
	font-family: $Futuras 
	color: rgba($black, 0.5) 
	+f(20px,500,1.5)
	min-width: 1280px
	+font-smoothing
	letter-spacing: 0
	background-color: $white
	

.title
	font-family: $Futuras 
	+f(30px,500,1.333)
	color: $black
	+css-lock(21,30,1024,1440)

.light
	font-weight: 300 
	