---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	{% include "partials/_header.html" %}
	<!-- begin gravity -->
	<div class="gravity js-gravity">
		<div class="gravity__arrow-wrap js-gravity-arrow">
			<div class="gravity__arrow-inner">
				<div class="gravity__arrow-btn">
					<button type="button" class="gravity__arrow">
						<svg width="51" height="27" viewBox="0 0 51 27" xmlns="http://www.w3.org/2000/svg">
						    <title>arrow</title>
						    <g fill="none" fill-rule="evenodd">
						        <path d="M2 2l22.492 23L49 2" stroke="#FFF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
						    </g>
						</svg>
					</button>
				</div>
			</div>
		</div>
		<div class="gravity-bg js-gravity-bg"></div>
		<!-- begin lines -->
		<svg class="lines" height="1250px" viewBox="0 0 1917 1250" version="1.1" xmlns="http://www.w3.org/2000/svg">
		    <defs>
		        <filter x="-0.8%" y="-0.8%" width="101.6%" height="101.5%" filterUnits="objectBoundingBox" id="filter-1">
		            <feGaussianBlur stdDeviation="3"></feGaussianBlur>
		        </filter>
		        <filter x="-0.9%" y="-0.9%" width="101.8%" height="101.8%" filterUnits="objectBoundingBox" id="filter-2">
		            <feGaussianBlur stdDeviation="3"></feGaussianBlur>
		        </filter>
		    </defs>
		    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		        <g transform="translate(0.000000, 6.000000)">
		            <g class="js-lines" transform="translate(0.000000, 139.000000)">
		                <path stroke="#fff" d="M0.5 0.5 535.5 1071.5 1070.054 0.5"/>
		                <path stroke="#fff" d="M720.5 1.5 1254.5 1070.5 1789.948 0.992"/>
		            </g>
		            <polyline class="lines__blur js-lines-blur" stroke="#fff" filter="url(#filter-1)" points="35.5 1213.5 641.5 0.5 1257.01226 1236.91466"></polyline>
		            <polyline class="lines__blur js-lines-blur" stroke="#fff" filter="url(#filter-2)" points="840.5 140.5 1374.5 1207.5 1910.177 139.156"></polyline>
		        </g>
		    </g>
		</svg>
		<!-- end lines -->
		<!-- begin logo -->
		<div class="logo js-logo">
			<svg width="1072" height="65" viewBox="0 0 1072 65" xmlns="http://www.w3.org/2000/svg">
			    <title>logo</title>
			    <g stroke="#fff" stroke-width="7" fill="none" fill-rule="evenodd">
			        <path d="M1045.846 61.5V38.062l19.7-32.975h-2.71l-16.172 27.993h-4.348l-16.172-27.993h-2.804l19.662 32.977V61.5z"/>
			        <path d="M555.307 61.5L575.44 5.087h-3.008l-17.315 52.339h-5.323l-17.27-52.34h-3.183L549.474 61.5z"/>
			        <path d="M870.002 61.5V6.568h19.38V5.087h-41.647v1.481h19.424V61.5z"/>
			        <path d="M224.641 61.5h3.325L214.6 37.083l3.967-1.33c6.196-2.076 9.917-7.6 9.917-14.786 0-9.863-6.547-15.88-17.682-15.88h-21.065V61.5h2.844V37.11h19.141l12.92 24.39zM192.58 6.349h17.035c9.48 0 15.717 5.813 15.717 14.881 0 9.226-5.958 14.926-15.454 14.926H192.58V6.35z"/>
			        <path d="M50.181 33.526H32.576v.889h15.106v4.332c-.146 10.806-8.19 18.334-19.384 18.334-13.108 0-21.288-10.34-21.288-26.122 0-15.543 7.994-25.425 21.126-25.425 8.21 0 14.7 4.26 17.77 11.552h2.851C45.761 9.075 38.057 4.03 28.095 4.03c-14.812 0-23.908 10.132-23.908 27.011 0 17.218 9.149 27.544 24.03 27.544 13.117 0 20.905-7.046 21.864-19.596.067-.875.159-5.463.1-5.463z"/>
			        <path d="M404.294 61.5h2.92L386.846 5.087h-5.72L360.758 61.5h2.744l5.8-17.139h29.191l5.801 17.139zM381.26 8.634h5.278l11.826 34.817h-28.93l11.826-34.817z"/>
			        <path d="M713.737 61.5V5.087h-2.844V61.5z"/>
			    </g>
			</svg>
		</div>
		<!-- end logo -->
		<!-- begin poles -->
		<div class="poles">
			<!-- begin figure -->
			<div class="figure">
				<div class="figure__left-vector js-figure-left-vector"><img src="./img/right-vector-figure.svg" alt="right-vector-figure"></div>
				<div class="figure__left-blur js-figure-left-blur"><img src="./img/left-blur-figure.png" alt="left-blur-figure"></div>
				<div class="figure__center-z js-figure-center-z"><img src="./img/z-center-figure.png" alt="z-center-figure"></div>
				<div class="figure__right-vector js-figure-right-vector"><img src="./img/right-vector-figure.svg" alt="right-vector-figure"></div>
				<div class="figure__right-blur js-figure-right-blur"><img src="./img/right-blur-figure.png" alt="right-blur-figure"></div>

				<svg class="figure__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1440" height="1307" viewBox="0 0 1440 1307">
				    <defs>
				        <linearGradient id="b" x1="424.97" y1="1120.75" x2="424.97" y2="1120.37" gradientTransform="matrix(46.07 0 0 -902.46 -18882.12 1011863.82)" gradientUnits="userSpaceOnUse">
				            <stop offset="0" stop-color="#f0f2ef"/>
				            <stop offset="1" stop-color="#dedfdd"/>
				        </linearGradient>
				        <linearGradient id="a" x1="424.97" y1="1120.73" x2="424.97" y2="1120.27" gradientTransform="matrix(46.07 0 0 -902.46 -18836.05 1011863.82)" gradientUnits="userSpaceOnUse">
				            <stop offset="0" stop-color="#d4cbdc"/>
				            <stop offset="1" stop-color="#a79bb2"/>
				        </linearGradient>
				        <linearGradient id="c" x1="424.97" y1="1120.73" x2="424.97" y2="1120.27" gradientTransform="matrix(46.07 0 0 -880.04 -18927.93 986763.63)" xlink:href="#a"/>
				        <linearGradient id="d" x1="424.97" y1="1120.73" x2="424.97" y2="1120.27" gradientTransform="matrix(46.07 0 0 -880.04 -18881.86 986763.63)" xlink:href="#a"/>
				        <linearGradient id="e" x1="424.97" y1="1120.75" x2="424.97" y2="1120.37" gradientTransform="matrix(46.07 0 0 -857.24 -18973.35 961226.67)" xlink:href="#b"/>
				        <linearGradient id="f" x1="424.97" y1="1120.73" x2="424.97" y2="1120.27" gradientTransform="matrix(46.07 0 0 -857.24 -18927.29 961226.67)" xlink:href="#a"/>
				        <linearGradient id="g" x1="424.97" y1="1120.74" x2="424.97" y2="1120.36" gradientTransform="matrix(46.07 0 0 -827.7 -19019.16 928143.23)" xlink:href="#b"/>
				        <linearGradient id="h" x1="424.97" y1="1120.72" x2="424.97" y2="1120.26" gradientTransform="matrix(46.07 0 0 -827.7 -18973.1 928143.23)" xlink:href="#a"/>
				        <linearGradient id="i" x1="424.97" y1="1120.74" x2="424.97" y2="1120.36" gradientTransform="matrix(46.11 0 0 -778.05 -19035.67 872544.35)" xlink:href="#b"/>
				        <linearGradient id="j" x1="424.97" y1="1120.72" x2="424.97" y2="1120.26" gradientTransform="matrix(46.11 0 0 -778.05 -18989.56 872544.35)" xlink:href="#a"/>
				        <linearGradient id="k" x1="424.97" y1="1120.73" x2="424.97" y2="1120.35" gradientTransform="matrix(46.11 0 0 -755.37 -18990.36 847143.07)" xlink:href="#b"/>
				        <linearGradient id="l" x1="424.97" y1="1120.71" x2="424.97" y2="1120.25" gradientTransform="matrix(46.11 0 0 -755.37 -18944.25 847143.07)" xlink:href="#a"/>
				        <linearGradient id="m" x1="424.97" y1="1120.73" x2="424.97" y2="1120.28" gradientTransform="matrix(46.07 0 0 -908.93 -18790.37 1019117.48)" xlink:href="#a"/>
				        <linearGradient id="n" x1="424.97" y1="1120.73" x2="424.97" y2="1120.28" gradientTransform="matrix(46.07 0 0 -908.93 -18744.3 1019117.48)" xlink:href="#a"/>
				        <linearGradient id="o" x1="424.97" y1="1120.73" x2="424.97" y2="1120.27" gradientTransform="matrix(46.07 0 0 -886.25 -18745.06 993716.19)" xlink:href="#a"/>
				        <linearGradient id="p" x1="424.97" y1="1120.73" x2="424.97" y2="1120.27" gradientTransform="matrix(46.07 0 0 -886.25 -18698.99 993716.19)" xlink:href="#a"/>
				        <linearGradient id="q" x1="424.97" y1="1120.72" x2="424.97" y2="1120.26" gradientTransform="matrix(46.07 0 0 -828.48 -18835.54 929013.9)" xlink:href="#a"/>
				        <linearGradient id="r" x1="424.97" y1="1120.72" x2="424.97" y2="1120.26" gradientTransform="matrix(46.07 0 0 -828.48 -18789.47 929013.9)" xlink:href="#a"/>
				        <linearGradient id="s" x1="424.97" y1="1120.72" x2="424.97" y2="1120.26" gradientTransform="matrix(46.07 0 0 -805.67 -18790.11 903476.94)" xlink:href="#a"/>
				        <linearGradient id="t" x1="424.97" y1="1120.72" x2="424.97" y2="1120.26" gradientTransform="matrix(46.07 0 0 -805.41 -18744.16 903180.9)" xlink:href="#a"/>
				        <linearGradient id="u" x1="424.97" y1="1120.74" x2="424.97" y2="1120.36" gradientTransform="matrix(46.07 0 0 -782.87 -18836.19 877939.97)" xlink:href="#b"/>
				        <linearGradient id="v" x1="424.97" y1="1120.72" x2="424.97" y2="1120.26" gradientTransform="matrix(46.07 0 0 -782.87 -18790.12 877939.97)" xlink:href="#a"/>
				        <linearGradient id="w" x1="424.97" y1="1120.73" x2="424.97" y2="1120.35" gradientTransform="matrix(46.07 0 0 -753.06 -18881.99 844555.37)" xlink:href="#b"/>
				        <linearGradient id="x" x1="424.97" y1="1120.71" x2="424.97" y2="1120.25" gradientTransform="matrix(46.07 0 0 -753.32 -18835.92 844851.41)" xlink:href="#a"/>
				    </defs>
				    <title>
				        figure
				    </title>
				    <g data-name="Rectangle Isometric-Copy-2">
				        <path data-name="Rectangle Left Isometric" fill="url(#b)" d="M719.11 1307h-46.07V404.54l46.07 23.07V1307z"/>
				        <path data-name="Rectangle Right Isometric" fill="url(#a)" d="M719.11 1307h46.07V404.54l-46.07 23.07V1307z"/>
				        <path data-name="Rectangle Top Isometric" fill="#fafdf9" d="M673.04 404.54l46.07-23.06 46.07 23.06-46.07 23.07-46.07-23.07z"/>
				    </g>
				    <g data-name="Rectangle Isometric-Copy-3">
				        <path data-name="Rectangle Left Isometric" fill="url(#c)" d="M673.3 1307h-46.07V426.96l46.07 23.06V1307z"/>
				        <path data-name="Rectangle Right Isometric" fill="url(#d)" d="M673.3 1307h46.07V426.96l-46.07 23.06V1307z"/>
				        <path data-name="Rectangle Top Isometric" fill="#fafdf9" d="M627.23 426.96l46.07-23.07 46.07 23.07-46.07 23.06-46.07-23.06z"/>
				    </g>
				    <g data-name="Rectangle Isometric-Copy-4">
				        <path data-name="Rectangle Left Isometric" fill="url(#e)" d="M627.88 1307h-46.07V449.76l46.07 23.06V1307z"/>
				        <path data-name="Rectangle Right Isometric" fill="url(#f)" d="M627.88 1307h46.07V449.76l-46.07 23.06V1307z"/>
				        <path data-name="Rectangle Top Isometric" fill="#fafdf9" d="M581.81 449.76l46.07-23.07 46.07 23.07-46.07 23.06-46.07-23.06z"/>
				    </g>
				    <g data-name="Rectangle Isometric-Copy-5">
				        <path data-name="Rectangle Left Isometric" fill="url(#g)" d="M582.07 1307H536V479.3l46.07 23.07V1307z"/>
				        <path data-name="Rectangle Right Isometric" fill="url(#h)" d="M582.07 1307h46.07V479.3l-46.07 23.07V1307z"/>
				        <path data-name="Rectangle Top Isometric" fill="#fafdf9" d="M536 479.3l46.07-23.06 46.07 23.06-46.07 23.07L536 479.3z"/>
				    </g>
				    <g data-name="Rectangle Isometric-Copy-7">
				        <path data-name="Rectangle Left Isometric" fill="url(#i)" d="M582.11 1307H536V528.95l46.11 23.08V1307z"/>
				        <path data-name="Rectangle Right Isometric" fill="url(#j)" d="M582.11 1307h46.11V528.95l-46.11 23.08V1307z"/>
				        <path data-name="Rectangle Top Isometric" fill="#fafdf9" d="M536 528.95l46.11-23.09 46.11 23.09-46.11 23.08L536 528.95z"/>
				    </g>
				    <g data-name="Rectangle Isometric-Copy-12">
				        <path data-name="Rectangle Left Isometric" fill="url(#k)" d="M627.42 1307h-46.11V551.63l46.11 23.09V1307z"/>
				        <path data-name="Rectangle Right Isometric" fill="url(#l)" d="M627.42 1307h46.1V551.63l-46.1 23.09V1307z"/>
				        <path data-name="Rectangle Top Isometric" fill="#fafdf9" d="M581.31 551.63l46.11-23.09 46.1 23.09-46.1 23.09-46.11-23.09z"/>
				    </g>
				    <g data-name="1">
				        <path data-name="Rectangle Left Isometric" fill="url(#m)" d="M810.86 1307h-46.07V398.07l46.07 23.06V1307z"/>
				        <path data-name="Rectangle Right Isometric" fill="url(#n)" d="M810.86 1307h46.07V398.07l-46.07 23.06V1307z"/>
				        <path data-name="Rectangle Top Isometric" fill="#fafdf9" d="M764.79 398.07L810.86 375l46.07 23.07-46.07 23.06-46.07-23.06z"/>
				    </g>
				    <g data-name="2">
				        <path data-name="Rectangle Left Isometric" fill="url(#o)" d="M856.17 1307H810.1V420.75l46.07 23.06V1307z"/>
				        <path data-name="Rectangle Right Isometric" fill="url(#p)" d="M856.17 1307h46.07V420.75l-46.07 23.06V1307z"/>
				        <path data-name="Rectangle Top Isometric" fill="#fafdf9" d="M810.1 420.75l46.07-23.07 46.07 23.07-46.07 23.06-46.07-23.06z"/>
				    </g>
				    <g data-name="Rectangle Isometric-Copy-11">
				        <path data-name="Rectangle Left Isometric" fill="url(#q)" d="M765.7 1307h-46.07V478.52l46.07 23.07V1307z"/>
				        <path data-name="Rectangle Right Isometric" fill="url(#r)" d="M765.7 1307h46.07V478.52l-46.07 23.07V1307z"/>
				        <path data-name="Rectangle Top Isometric" fill="#fafdf9" d="M719.63 478.52l46.07-23.06 46.07 23.06-46.07 23.07-46.07-23.07z"/>
				    </g>
				    <g data-name="Rectangle Isometric-Copy-8">
				        <path data-name="Rectangle Left Isometric" fill="url(#s)" d="M811.12 1307h-46.07V501.33l46.07 23.06V1307z"/>
				        <path data-name="Rectangle Right Isometric" fill="url(#t)" d="M811.01 1307h46.07V501.59l-46.07 23.07V1307z"/>
				        <path data-name="Rectangle Top Isometric" fill="#fafdf9" d="M765.05 501.33l46.07-23.07 46.07 23.07-46.07 23.06-46.07-23.06z"/>
				    </g>
				    <g data-name="Rectangle Isometric-Copy-9">
				        <path data-name="Rectangle Left Isometric" fill="url(#u)" d="M765.04 1307h-46.06V524.13l46.06 23.07V1307z"/>
				        <path data-name="Rectangle Right Isometric" fill="url(#v)" d="M765.04 1307h46.07V524.13l-46.07 23.07V1307z"/>
				        <path data-name="Rectangle Top Isometric" fill="#fafdf9" d="M718.98 524.13l46.06-23.07 46.07 23.07-46.07 23.07-46.06-23.07z"/>
				    </g>
				    <g data-name="Rectangle Isometric-Copy-10">
				        <path data-name="Rectangle Left Isometric" fill="url(#w)" d="M719.24 1307h-46.07V553.94l46.07 23.07V1307z"/>
				        <path data-name="Rectangle Right Isometric" fill="url(#x)" d="M719.24 1307h46.07V553.68l-46.07 23.06V1307z"/>
				        <path data-name="Rectangle Top Isometric" fill="#fafdf9" d="M673.17 553.68l46.07-23.07 46.07 23.07-46.07 23.06-46.07-23.06z"/>
				    </g>
				</svg>
				
			</div>
			<!-- end figure -->
		</div>
		<!-- end poles -->
		<!-- begin dust -->
		<canvas class="dust js-dust"></canvas>
		<!-- end dust -->
	</div>
	<!-- end gravity -->
	<!-- begin rectangles -->
	<div class="rectangles js-rectangles">
		<div class="rectangles__inner inner">
			<div class="rectangle-top"></div>
			<div class="rectangle-left"></div>
			<div class="rectangle-right"></div>
		</div>
	</div>
	<!-- end rectangles -->
	<!-- begin fp-slider -->
	<div class="fp-slider js-fp-slider">
		<div data-fp-slide="preloader"></div>
		<div data-fp-slide="cases">
			<!-- begin inner -->
			<div class="inner">
				<!-- begin cases -->
				<div class="cases">
					<div class="cases__content">
						<h2 class="cases__title title" data-stagger="up-left"><span class="js-lang-en">We Are Gravity Agency</span><span class="js-lang-ru">Текст текст текст текст текст</span></h2>
						<p data-stagger="left" class="js-lang-en">Let us show you that we are able <br>Here we have collected interesting projects in which we participated. You can not replace business with a word, so we'll show you the working solutions and how we developed them.</p>
						<p data-stagger="left" class="js-lang-ru">Текст текст текст текст текст Текст текст текст текст текст Текст текст текст текст текст Текст текст текст текст текст Текст текст текст текст текстТекст текст текст текст текст</p>
					</div>
					<div class="cases__slider">
						<div class="cases__slider-wrap js-slider-wrap" data-stagger="bottom">
							<!-- begin small-slider -->
							<div class="small-slider js-small-slider">
								{% for project in [
									{
										img: "case-1"
									},
									{
										img: "case-2"
									},
									{
										img: "case-3"
									},
									{
										img: "case-2"
									}
									] %}
								<a href="#" class="project">
									<span class="project__img">
										<img src="./img/{{ project.img }}.jpg" alt="img">
									</span>
								</a>
								{% endfor %}
							</div>
							<!-- end small-slider -->
							<!-- begin slider-text -->
							<div class="slider-text js-slider-text">
								{% for slide in [
								{
									class: 'black',
									title: "DIAMOND APARTMENTS",
									text: "Development of a website for renting luxury apartments located in the business center of the capital - Moscow City.",
									titleRu: "DIAMOND APARTMENTS",
									textRu: "Текст текст текст текст текст Текст текст текст текст текст Текст текст текст текст текст Текст текст текст текст"
								},
								{
									title: "CITY VOICE",
									text: "Why not let someone else worry about Christmas and New Year this year and book a last minute",
									titleRu: "CITY VOICE",
									textRu: "Текст текст текст текст текст Текст текст текст текст текст Текст текст текст текст текст Текст текст текст текст"
								},
								{
									class: 'black',
									title: "MUSIC TOWN RECORDS",
									text: "Why not let someone else worry about Christmas and New Year this year and book a last minute",
									titleRu: "MUSIC TOWN RECORDS",
									textRu: "Текст текст текст текст текст Текст текст текст текст текст Текст текст текст текст текст Текст текст текст текст"
								},
								{
									title: "CITY VOICE",
									text: "Why not let someone else worry about Christmas and New Year this year and book a last minute",
									titleRu: "CITY VOICE",
									textRu: "Текст текст текст текст текст Текст текст текст текст текст Текст текст текст текст текст Текст текст текст текст"
								}
								] %}
									<a href="#" class="slider-text__slide{% if slide.class %} slider-text__slide_{{ slide.class }}{% endif %}">
										<div class="slider-text__inner">
											<div class="slider-text__title js-lang-en">{{ slide.title }}</div>
											<div class="slider-text__title js-lang-ru">{{ slide.titleRu }}</div>
											<p class="js-lang-en">{{ slide.text }}</p>
											<p class="js-lang-ru">{{ slide.textRu }}</p>
										</div>
									</a>
								{% endfor %}
							</div>
							<!-- end slider-text -->
							<!-- begin slider -->
							<div class="slider js-slider">
								{% for project in [
									{
										img: "case-1"
									},
									{
										img: "case-2"
									},
									{
										img: "case-3"
									},
									{
										img: "case-2"
									}
									] %}
								<a href="#" class="project">
									<span class="project__img">
										<img src="./img/{{ project.img }}.jpg" alt="img">
									</span>
								</a>
								{% endfor %}
							</div>
							<!-- end slider -->
						</div>
					</div>
				</div>
				<!-- end cases -->
			</div>
			<!-- end inner -->
		</div>
		<div data-fp-slide="about">
			<!-- begin inner -->
			<div class="inner">
				<!-- begin about -->
				<div class="about">
					<div class="about__content">
						<h2 class="about__title title js-lang-en" data-stagger="up-right">So who are we?</h2>
						<p class="js-lang-en" data-stagger="up-right">We are a creative web agency that will be able to build your project from idea into a working product. Starting from the formation of the vision of the project, ending with working as a clock, program code. By the way, we are also very cool designers.</p>
						<h2 class="about__title title js-lang-ru" data-stagger="up-right">Текст текст текст</h2>
						<p class="js-lang-ru"  data-stagger="up-right">Текст текст текст текст текст Текст текст текст текст текстТекст текст текст текст текст Текст текст текст текст текстТекст текст текст текст текст Текст текст текст текст текстТекст текст текст текст текст Текст текст текст текст текст</p>
					</div>
					<a href="#" class="about__info" data-stagger="bottom-right">
						<span class="about__info-inner">
							<span class="js-lang-en">Here you can read and see about how, what and why{{mixins.icon('arrow-right')}}</span>
							<span class="js-lang-ru">Текст текст текст текст текст Текст текст текст текст текст{{mixins.icon('arrow-right')}}</span>
						</span>
					</a>
				</div>
				<!-- end about -->
			</div>
			<!-- end inner -->
		</div>
	</div>
	<!-- end fp-slider -->
	<!-- begin popup -->
	<div class="popup js-popup">
		<div class="popup__overlay js-popup-overlay"></div>
		<div class="popup__inner">
			<button type="button" class="popup__close js-popup-close">{{ mixins.icon('close') }}</button>
			<div class="popup__bg js-popup-bg"></div>
			<svg class="popup__triangle js-popup-triangle" width="1071px" height="1071px" viewBox="0 0 1071 1071" version="1.1" xmlns="http://www.w3.org/2000/svg">
			    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
			        <polyline stroke="#ACA1B7" points="1 0 536 1071 1070.55411 0"></polyline>
			    </g>
			</svg>
			<div class="popup__triangle-blur">
				<svg class="js-popup-triangle-blur" width="1071px" height="1071px" viewBox="0 0 1071 1071" version="1.1" xmlns="http://www.w3.org/2000/svg">
				    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				        <polyline stroke="#ACA1B7" points="1 0 536 1071 1070.55411 0"></polyline>
				    </g>
				</svg>
			</div>
			<div class="popup__content">
				<h3 class="popup__title js-lang-en" data-stagger="from-down">Get in touch</h3>
				<h3 class="popup__title js-lang-ru" data-stagger="from-down">Текст текст</h3>
				<div class="popup__description" data-stagger="from-down">
					<a href="mailto:hello@grvty.ru" class="popup__email"><span class="light">hello@</span>grvty.ru</a>
				</div>
				<form class="popup__form form" action="/">
					<div class="form-control" data-stagger="from-down">
						<input type="text" class="input" placeholder="Name">
					</div>
					<div class="form-control" data-stagger="from-down">
						<input type="text" class="input" placeholder="Phone/Email/Skype/Telegram">
					</div>
					<div class="form-control" data-stagger="from-down">
						<label for="textarea" class="label">
							Tell us about your project
						</label>
						<textarea id="textarea" class="textarea"></textarea>
					</div>
					<div class="form-footer" data-stagger="from-down">
						<button type="submit" class="btn js-form-submit">
							Send
							<svg class="btn__submit-check" width="65px" height="53px" viewBox="0 0 65 53" version="1.1" xmlns="http://www.w3.org/2000/svg">
							    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
							        <polyline stroke="#fff" stroke-width="8" points="6 35.292483 18 47.292483 58.8073463 5.84066984"></polyline>
							    </g>
							</svg>
						</button>
					</div>
				</form>
				<div class="popup__footer">
					<p><a href="tel:+74950000000">+7 (495) 000-00-00</a></p>
					<p>127018, Москва, Складочная, д.3, стр.3</p>
					<a href="#" class="popup__requisites">Реквизиты</a>
				</div>
			</div>
		</div>
	</div>
	<!-- end popup -->
	{% include "partials/_footer.html" %}

{% endblock %}
