// fonts
$Futuras: 'FuturaFuturis', Open Sans, sans-serif

// colors
$white: #fff
$black: #0E0A1C
$black-l: #191926
$gray: #3D3A41
$amethystSmoke: #ACA1B6

// bg
$black-bg: $black-l
$darkBg: #232438
$amethystSmoke: #ACA1B7

// layouts
$innerWidth: 1440px
$innerWidthMd: 1350px
$innerWidthSm: 752px