<div class="bamboo-design">
	<h2 class="title-bg title-bg_big">дизайн</h2>
	<div class="bamboo-design__inner inner">
		<div class="bamboo-design__plate">
			<img src="./img/case1/dishes2.png" alt="img">
		</div>
		<h3 class="bamboo-design__title title title_bold">Дизайн</h3>
	</div>
	<div class="inner">
		<div class="bamboo-design__content">
			<div class="bamboo-design__left">
				<div class="bamboo-design__img">
					<img src="./img/case1/1.jpg" alt="img">
				</div>
			</div>
			<div class="bamboo-design__right">
				<div class="bamboo-design__rect"></div>
				<div class="bamboo-design__wrap">
					<div class="bamboo-design__img">
						<img src="./img/case1/2.jpg" alt="img">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>