<section class="bamboo-tasks">
  <div class="bamboo-tasks__inner inner">

    <div class="bamboo-tasks__dish"></div>
    <div class="bamboo-tasks__circle"></div>
    <div class="bamboo-tasks__wave">
      {{ mixins.icon('wave-big') }}
    </div>

    <h2 class="bamboo-tasks__title title-bg_lg">Задачи</h2>
    <p class="bamboo-tasks__text-block bamboo-tasks__text-task">
      <span class="bamboo-tasks__text-bold">
        Задачи.
      </span>
        Удобство и отображение всего спектра услуг ресторана, расставив акценты на интерьере, кухне и подаче блюд. Заказчиком ставилась задача обязательного отображения информации о шефе. Информирование о предстоящих событиях, отчеты о прошедших мероприятиях. Улучшение конверсии сайта - удобство бронирования столов, возможность внесения предоплаты
    </p>

    <div class="bamboo-tasks__text-wrapper">
      <div class="bamboo-tasks__rectangle"></div>
      <p class="bamboo-tasks__text-block bamboo-tasks__text-concept">
      <span class="bamboo-tasks__text-bold">
        Концепция/видение проекта.
      </span>
        Ресторан премиум класса, находящийся в бц Москва-Сити. Основными особенностями, которого являются уникального авторское меню, концептуальный интерьер и еженедельные события.
      </p>
    </div>
    <div class="bamboo-tasks__big-picture">
      <img src="/img/case1/bamboo-task-1.jpg" alt="" class="bamboo-tasks__image bamboo-tasks__image-lg">
    </div>
    <div class="bamboo-tasks__pictures">
      <img src="/img/case1/bamboo-task-2.jpg" alt="" class="bamboo-tasks__image bamboo-tasks__image-md">
      <img src="/img/case1/bamboo-task-3.jpg" alt="" class="bamboo-tasks__image bamboo-tasks__image-sm">
    </div>
  </div>

</section>
