<div class="bamboo-prototype">
	<h2 class="title-bg title-bg_big">прототип</h2>
	<div class="bamboo-prototype__inner inner">
		<div class="bamboo-prototype__circle">
	
		</div>
		<div class="bamboo-prototype__circle bamboo-prototype__circle_small">
			
		</div>
		<div class="bamboo-prototype__wave">
			{{ mixins.icon('line') }}	
		</div>
		<div class="bamboo-prototype__bagel">
			<img src="./img/oval-copy.svg" alt="bagel">
		</div>
		<h3 class="bamboo-prototype__title title title_bold">
			Прототип
		</h3>
		<div class="bamboo-prototype__content">
			<div class="bamboo-prototype__divider bamboo-divider">
				<div class="bamboo-divider__circle"></div>
				<div class="bamboo-divider__line"></div>
			</div>
			<div class="bamboo-prototype__img">
				<img src="./img/case1/mack-mokups.jpg" alt="prototype">
			</div>
		</div>
	</div>
</div>