<div class="bamboo-prototype">
	<h2 class="title-bg title-bg_lg">прототип</h2>
	<div class="bamboo-prototype__inner inner">
		<h3 class="bamboo-prototype__title title title_bold">
			Прототип
		</h3>
		<div class="bamboo-prototype__content">
			<div class="bamboo-prototype__divider bamboo-divider">
				<div class="bamboo-divider__circle"></div>
				<div class="bamboo-divider__line"></div>
			</div>
			<div class="bamboo-prototype__img">
				<img src="./img/case1/mack-mokups.jpg" alt="prototype">
			</div>
		</div>
	</div>
</div>