<div class="key-moments">
	<h2 class="title-bg">моменты</h2>
	<div class="key-moments__inner inner">
		<h3 class="key-moments__title title title_bold">Ключевые моменты</h3>
		<div class="key-moments__content">
			<div class="key-moments__bg-rect"></div>
			<div class="key-moments__right">
				<div class="key-moments__section-text section-text">
					<span class="section-text__title">Афиши.</span>
					Так как одной из ключевых особенностей ресторана является проведение еженедельных событий с привлечением артистов - было важно рассказать об этом потенциальным гостям ресторана
					<br>
					Было важно удобно выделять предстоящее основное событие от остальных
				</div>
				<div class="key-moments__img" style="background-image: url(../img/case1/DJ@2x.jpg)">
					<h3 class="key-moments__img-text title-roboto">
						DJ reed loran
						& DJ quba
					</h3>
				</div>
			</div>
			<div class="key-moments__left">
				<h3 class="title-roboto">DJ KATRIN VIKING / DJ FOMICHEV</h3>
				<div class="key-moments__img key-moments__img_lg" style="background-image: url(../img/case1/DJ-second.jpg)">
					<div class="key-moments__img-text">
					</div>
				</div>
			</div>
			<div class="key-moments__bot">
				<div class="key-moments__oval">
					<img src="./img/oval-copy.svg" alt="">
					<div class="key-moments__oval-border">
					</div>
				</div>
				<div class="key-moments__circle"></div>
				<div class="key-moments__section-text section-text">
					<span class="section-text__title">Музыка.</span>
					 При первом посещении сайта автоматически играет музыка, которая погружает вас в атмосферу Bamboo.bar. Но если вы не хотите музыкального сопровождения, при отключении звука мы запомним ваш выбор и при повторном посещении не будем вас беспокоить
				</div>
				<div class="key-moments__music">
					<audio onended="stopTrack(1)" class="track-1" src="http://kiki.tout.mou.free.fr/zic/14-ian_pooley-chord_memory_(daft_punk_remix).mp3" controls preload="auto" autobuffer></audio>
					<div class="vinyl vinyl-1 paused js-vinil js-vinil-1">
						<button data-id_track="1" class="play play-1 js-play"></button>
						<div class="grooves"></div>
						<!-- <div class="light"></div>
						<div class="light-alt"></div> -->
						<div class="macaron">
							<div class="cover">
								{{ mixins.icon("quaver") }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>