.bamboo-design
	position: relative
	z-index: 2
	margin-top: 30px
	padding-top: 100px
	+md
		margin-top: 80px
		padding-top: 10%
	&__inner
		position: relative
		padding: 0 15px
	&__title
		text-align: center
	&__plate
		position: absolute
		width: 708px
		height: 708px
		left: -235px
		top: -355px
		+md
			display: none
		img
			display: block
			max-width: 100%
	&__content
		position: relative
		margin-top: 104px
		display: flex
		justify-content: flex-end
		align-items: flex-start
		+md
			flex-direction: column-reverse
			align-items: center
			padding: 0 10px
			margin-top: 46px
	&__left
		margin-top: 137px
		max-width: 580px
		+md
			margin-top: 32px
	&__right
		margin-left: 83px
		margin-right: -36px
		max-width: 652px
		position: relative
		+md
			margin-left: -36px
			margin-right: -36px
	&__wrap
		padding: 0 36px 0
		overflow: hidden
	&__img
		box-shadow: 0 8px 36px 0 rgba(0, 0, 0, 0.2)
		img
			display: block
			max-width: 100%
	&__rect
		position: absolute
		top: 195px
		width: 100vw
		right: 36px
		bottom: 0
		background-color: #d3d9dd
		z-index: -1
		+md
			top: 176px
			right: auto
			left: 50%
			transform: translateX(-50%)
			width: 200vw


