.cases
	position: relative
	padding: 15vh 30px 310px 50px
	padding-top: calc(100px + (180 - 100)*((100vh - 750px)/(960 - 750)))
	height: 100%
	max-height: 100%
	width: 595px 
	+css-lock(14,20,1024,1440)
	&__content
		max-width: 402px
	&__title
		margin-bottom: 3vh
		max-width: 275px
	&__slider
		position: absolute
		left: 364px
		bottom: 0
		width: calc(100vw - ((100vw - 1440px) / 2 + 364px) )
	&__slider-wrap
		padding-top: 80px
		overflow: hidden
.slider
	width: 600px
	font-size: 0
	.slick-list
		overflow: visible
	.slick-track
		background-color: #000 
		+hover
			.slick-slide
					opacity: 0.1
		.slick-slide
			transition: opacity .4s ease-out
			+hover
				opacity: 1
	&__prev,
	&__next
		position: absolute
		top: -80px
		width: 75px
		height: 80px
		text-align: center
		background-color: red 
		&:after
			content: ""
			background: $white
			position: absolute
			width: 100%
			height: 100%
			top: 0
			opacity: 0
			transition: width 0.55s ease-in-out, opacity 0.55s ease-in-out
		&:active:after
			width: 0px
			opacity: 1
			transition: 0s
		.icon
			position: absolute
			top: 50%
			left: 50%
			margin: -9px 0 0 -5px
			font-size: 18px
	&__prev
		left: 155px
		color: $white 
		background-color: $black 
		&:after
			left: 0
	&__next
		left: 230px
		color: $black 
		background-color: $white 
		&:after
			background-color: $black  
			right: 0
	// .slick-slide
	// 	width: 230px !important
	// 	overflow: hidden
	// 	&.slick-current
	// 		width: 600px !important

