.form
	position: relative
	text-align: left
.form-control
	&:not(:first-child)
		margin-top: 35px
.form-footer
	margin-top: 20px
.input
	padding-bottom: 19px
	height: 36px
	width: 100%
	font-family: $Futuras
	+f(16px,500,1)
	color: $black
	letter-spacing: 0
	border-bottom: 1px solid rgba(#ACA1B7, .1)
	transition: border-color .3s
	background-color: transparent 
	display: block
	&::placeholder
		color: rgba(#191925, 0.5)
		transition: color .3s
	&:focus
		border-color: #ACA1B7 
		&::placeholder
			color: $black
.textarea 
	width: 100% !important
	height: 82px !important
	resize: none
	font-family: $Futuras
	+f(16px,500,1)
	color: $black
	letter-spacing: 0
	background-color: rgba(#ACA1B7, .1) 
	border: none
	display: block
.label
	font-family: $Futuras
	+f(16px,500,1)
	cursor: pointer
	user-select: none
	color: rgba(#191925, 0.5)
	display: block
	&:not(:last-child)
		margin-bottom: 15px
.btn
	padding: 17px 30px
	width: 100%
	font-family: $Futuras
	color: $white
	letter-spacing: 0
	+f(14px,500,1.2)
	text-align: center
	transition: background-color .3s
	background-color: #ACA1B7
	display: block
	+hover
		background-color: darken(#ACA1B7, 10%) 
	&[type="submit"]
		position: relative
		padding: 17px 17px
		left: 50%
		transform: translateX(-50%)
		transition: width .3s ease-in, color .3s ease-in, background-color .3s ease-in, border-radius .3s ease-in
		&.is-animate
			width: 50px
			color: transparent 
			border-radius: 50px 
			background-color: #59D547 
			animation: submitAnim .3s ease-in-out alternate forwards
			animation-delay: .3s
	&__submit-check
		position: absolute
		top: 50%
		left: 50%
		margin: -11px 0 0 -13px
		width: 26px
		height: auto
		stroke-dasharray: 80
		stroke-dashoffset: 80
		transition: stroke-dashoffset .3s ease-in-out
		transform: scale(1) rotateY(-180deg)
		.is-animate &
			stroke-dashoffset: 0
			transition-delay: 0.7s

@keyframes submitAnim
	0%
		transform: translateX(-50%) rotateY(0)
	100%
		transform: translateX(-50%) rotateY(180deg)
