.icon-arrow-left {
  width: 0.56em;
  height: 1em;
  fill: #fff;
}
.icon-arrow-right {
  width: 0.56em;
  height: 1em;
  fill: #0e0a1c;
}
.icon-behance {
  width: 1.59em;
  height: 1em;
  fill: #191926;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-dribbble {
  width: 1em;
  height: 1em;
  fill: #191926;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
