.icon-arr-left {
  width: 1.28em;
  height: 1em;
  fill: #242437;
}
.icon-arr-right {
  width: 1.29em;
  height: 1em;
  fill: #242437;
}
.icon-arrow-left {
  width: 0.56em;
  height: 1em;
  fill: #fff;
}
.icon-arrow-right {
  width: 0.56em;
  height: 1em;
  fill: #0e0a1c;
}
.icon-bamboo-logo {
  width: 3em;
  height: 1em;
  fill: #FFF;
}
.icon-behance {
  width: 1.59em;
  height: 1em;
  fill: #191926;
}
.icon-chevron-down {
  width: 1.62em;
  height: 1em;
  fill: initial;
}
.icon-circle {
  width: 1em;
  height: 1em;
  fill: #000;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-code {
  width: 1.7em;
  height: 1em;
  fill: #242437;
}
.icon-design {
  width: 0.96em;
  height: 1em;
  fill: #242437;
}
.icon-dribbble {
  width: 1em;
  height: 1em;
  fill: #191926;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-half-circle {
  width: 0.5em;
  height: 1em;
  fill: initial;
}
.icon-prototype {
  width: 2.38em;
  height: 1em;
  fill: #242437;
}
.icon-quaver {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-wave-big {
  width: 4em;
  height: 1em;
  fill: #9DD97A;
}
.icon-wave {
  width: 11.43em;
  height: 1em;
  fill: #FFF;
}
